.header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
}
.title{
    width: 50%;
   margin-left: -80px;
    float: left;
}
.title em {
    color: #f54c53;
  }
.title a {
    
    color: #fff;
    text-decoration:none; 
    font-family: Microsoft YaHei;
    font-size: 30px;
}
.title img{
    
}
.part{
    float: left;
    margin:20px 30px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}
.part ul{
    margin:10px 10px;
}
.part ul li {
    padding: 0 10px;
    margin: 0;
    list-style: none;
    display: inline;
}
.part ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration:none;
}
header ul li a:hover, header ul li a:focus, header ul li a:active {
    color: white;
    text-decoration:none;
}
#fb7-container-book{
    display: block;
    width: 716.8px;
    height: 515.2px;
    left: 281.5px;
    top: 12vh !important;
    cursor: default;
}